[GENERAL]
name=CopyTrade_SIMULATOR
log=log/CopyTrade_SIMULATOR1.log

[SIGNAL_SOURCE]
port=8898
address=127.0.1.1

[DB]
engine=sqlite
file=./database.sql
#engine=posgresql
#user=abcde
#pass=xyz
#port=1234
#schema=copytrade
